:root {
  --font-family: 'Poppins', sans-serif;
  --headings-font-family: 'Poppins', sans-serif;
  --font-weight: 400;
  --columns-width: 40rem;
  --link-color: var(--indigo);
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
  --column-gutter: var(--space-4);
  --body-color: var(--white);
  --nav-padding: 0 var(--space-2) 0 0;
}

body {
  background: var(--black);
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 1rem;
    --column-gutter: 2rem;
  }
}
